__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env
*.env
*.db
*.gguf
*.bin
*.safetensors
model/checkpoints/
.vscode/
node_modules/
dist/
build/
.npm
frontend/dist/
frontend/.vite/
*.log
npm-debug.log*
.DS_Store
Thumbs.db